<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Cloak</title>
		<link rel="stylesheet" type="text/css" href="/css/style.css">
    </head>
    <body>
      <h1 style="text-align: center">Choose file</h1>
      <p>&nbsp;
      <div class="centred-outer">
        <script>
          function getHREF(ref) {
            if (ref == 'home') {
              window.location.href = "/";
            }
            else if (ref == 'browse-file') {
              window.location.href = "/load-image.html";
            }
            else if (ref == 'load-file') {
              window.location.href = "/load-image.html";
            }
          }
        </script>
        </div>
        <div class="container">
          <table style="width: 50%; margin-left: auto; margin-right: auto">
            <tr>
              <td>
                <label for="secret-file" style="color: blanchedalmond;font-size: 16px;">Select a secret file:</label>
                <input type="file" id="secret-file" name="secret-file" style="color: blanchedalmond;"><br><br>
              </td>
            </tr>
            <tr>
              <td>
              </td>
              <td>
                <a class="fancy-button" onclick="getHREF('load-file')">Next</a>
              </td>
            </tr>
            <tr>
              <td>
                <b style="color: blanchedalmond;font-size: 12px;">Cloak v<tmpl_var clk-version> date [<tmpl_var clk-builddate>]</b>
              </td>
            </tr>
          </table>
        </div>
    </body>
</html>
